<section class="section bg-theme pb-0 ov-h" id="benefits">
    <div class="container">
        <div class="nk-block fullsize fade-in">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-mb-10">
                    <div class="section-head text-center">
                        <h2 class="title tc-secondary">Benefits</h2>
                    </div>
                </div>
            </div>
            <rdt-wallet></rdt-wallet>
        </div>
    </div>
    <div class="nk-ovm shape-u shape-contain shape-left-top z-0"></div>
</section>
