<!-- Start Section -->
<section class="section bg-theme pb-0 ov-h" id="project">
  <div class="container">
    <div class="nk-block">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-mb-10">
          <div class="section-head text-center">
            <h2 class="title tc-secondary">Cashback-System</h2>
          </div>
        </div>
      </div>

      <section class="section">
        <div class="container">
          <div class="nk-block nk-block-text-wrap">
            <div class="row align-items-center gutter-vr-30px justify-content-lg-between justify-content-center">
              <div class="col-lg-5 col-mb-10">
                <div class="nk-block-img gfx-re-mdl py-5 py-lg-0">
                  <img src="assets/images/cashback/cashback_cutout.png" alt="app">
                </div>
              </div>
              <div class="col-lg-6 col-mb-10">
                <div class="nk-block-text">
                  <div class="pb-5">
                    <h2 class="title title-regular tc-light">Radiator Token</h2>
                    <p hidden class="lead lead-regular tc-light">Bringing distributed finance to everyone</p>
                    <p class="tc-light">The native Radiator token $RDT is a reward-token. We are
                      establishing a network of partnerships throughout the whole Radix ecosystem. Holders of $RDT will
                      receive $XRD cashback, when interacting with goods and services from our partners.</p>
                  </div>
                </div>
              </div>
            </div><!-- .row -->
          </div><!-- .block @e -->
        </div>
      </section>

      <section class="section pb-0">
        <div class="container">
          <div class="nk-block">
            <div class="row justify-content-center">
              <div class="col-lg-8 col-mb-10">
                <div class="nk-block-text ">
                  <h2 class="title tc-light">$RDT Utility examples</h2>
                  <ul class="list tc-light tc-primary">
                    <li>discounts when buying NFTs (Non Fungible Tokens)</li>
                    <li>reduced DEX (Decentralized Exchanges) Fees</li>
                    <li>discounts on software engineering services</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <h3>$RDT Utility examples:</h3>

      <br/><br/>
      <h4>The conditions for these utilities are set by our partners and vary from project to project:</h4>
      <ul>
        <li>amount of $RDT to hold in the wallet you are using to interact with goods &amp; services</li>
        <li>holding duration</li>
        <li>others (depending on goods &amp; services)</li>
      </ul>
      <br/><br/>
      In our aim to optimize the value transfer within the Radix ecosystem we give recommendations to our partners on
      how to set the conditions in the best way for everyone.
      <img src="assets/img/cashback.jpg" alt="cashback"/>
    </div>
  </div>

  <div class="nk-ovm shape-u shape-contain shape-left-top"></div>
</section>
