<!-- Start Section -->
<section class="section bg-theme pb-0 ov-h" id="cashback">

  <main class="nk-pages fade-in">
    <section>
      <div class="container">
        <div class="nk-block">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-mb-10">
              <div class="nk-block-text text-center">
                <h2 class="title tc-secondary">Cashback-System</h2>
                <p class="lead tc-light">The native Radiator token $RDT is a reward-token. We are establishing a network
                  of
                  partnerships throughout the whole Radix ecosystem. Holders of $RDT will receive $XRD cashback,
                  when interacting with goods and services from our partners.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- // -->
    <section class="section">
      <div class="container">
        <div class="nk-block nk-block-text-wrap">
          <div class="row align-items-center gutter-vr-30px justify-content-lg-between justify-content-center">
            <div class="col-lg-5 col-mb-10">
              <div class="nk-block-img gfx-re-mdl py-5 py-lg-0">
                <img src="/assets/images/cashback/cashback_cutout.png" alt="app">
              </div>
            </div>
            <div class="col-lg-6 col-mb-10">
              <div class="nk-block-text">
                <div class="pb-5">
                  <h2 class="title title-regular tc-light">$RDT Utility examples</h2>
                  <ul class="list list-check">
                    <li><span class="tc-light">discounts when buying NFTs (Non Fungible Tokens)</span></li>
                    <li><span class="tc-light">reduced DEX (Decentralized Exchanges) Fees</span></li>
                    <li><span class="tc-light">discounts on software engineering services</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- .row -->
        </div><!-- .block @e -->
      </div>
    </section>
    <!-- // -->
    <section class="section pt-0">
      <div class="container">
        <div class="nk-block nk-block-text-wrap">
          <div class="row align-items-center gutter-vr-30px justify-content-lg-between justify-content-center">
            <div class="col-lg-5 col-mb-10 order-lg-last">
              <div class="nk-block-img gfx-re-lg">
                <img src="/assets/images/cashback/chart.png" alt="app">
              </div>
            </div>
            <div class="col-lg-6 col-mb-10">
              <div class="nk-block-text">
                <div class="pb-5">
                  <h2 class="title title-regular tc-light">Conditions</h2>
                  <ul class="list list-check">
                    <li><span class="tc-light">amount of $RDT to hold in the wallet you are using to interact with goods & services</span></li>
                    <li><span class="tc-light">holding duration</span></li>
                    <li><span class="tc-light">others (depending on goods & services)</span></li>
                  </ul>
                </div>
                <p class="tc-light">The conditions for these utilities are set by our partners and vary from project
                  to project.</p>
              </div>
            </div>
          </div><!-- .row -->
        </div><!-- .block @e -->
      </div>
    </section>
    <!-- // -->
  </main>

  <div class="nk-ovm shape-u shape-contain shape-left-top"></div>
</section>
