<!-- Start Section -->
<section class="section bg-theme pb-0 ov-h" id="project">
    <div class="container">
        <div class="nk-block">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-mb-10">
                    <div class="section-head text-center">
                        <h2 class="title tc-secondary">Cashback<span class="tc-light">-System</span></h2>
                    </div>
                </div>
            </div>

              <div class="cpn-text-center cpn-text-s1 lead tc-light">
                <p class="lead tc-light">The native Radiator token $RDT is basically a „reward-token“. We are
                  establishing a network of partnerships throughout the whole Radix ecosystem. Holders of $RDT will
                  receive $XRD cashback, when interacting with goods and services from our partners.
                </p>
                <h3>$RDT Utility examples:</h3>
                <ul class="list list-check tc-primary">
                  <li>discounts when buying NFTs (Non Fungible Tokens)</li>
                  <li>reduced DEX (Decentralized Exchanges) Fees</li>
                  <li>discounts on software engineering services</li>
                </ul>
                <br /><br />
                <h4>The conditions for these utilities are set by our partners and vary from project to project:</h4>
                <ul>
                  <li>amount of $RDT to hold in the wallet you are using to interact with goods &amp; services</li>
                  <li>holding duration</li>
                  <li>others (depending on goods &amp; services)</li>
                </ul>
                <br /><br />
                In our aim to optimize the value transfer within the Radix ecosystem we give recommendations to our partners on how to set the conditions in the best way for everyone.
                <img src="assets/img/cashback.jpg" alt="cashback" />
              </div>
              </div>



        </div>
    <div class="nk-ovm shape-u shape-contain shape-left-top"></div>
</section>
