<section class="section bg-theme pb-0 ov-h">
    <div class="container">
        <main class="nk-pages nk-pages-centered px-0 text-center">
            <header class="pt-5">
                <a href="./" class="d-inline-block logo-lg"><img src="assets/images/logo/logo.png" alt="logo"></a>
            </header>
            <div class="my-auto py-5">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-7 col-sm-9">
                        <div class="position-relative">
                            <div class="piller-one">
                                <img src="assets/images/error/piler-a.png" alt="graphic">
                            </div>
                            <div class="piller-two">
                                <img src="assets/images/error/piler-b.png" alt="graphic">
                            </div>
                            <h2 class="title-xxl-grad tc-primary">404</h2>
                            <h5 class="pb-2">Opps! Why you’re here?</h5>
                            <p class="">We are very sorry for inconvenience. It looks like you’re try to access a page
                                that either has been deleted or never existed.</p>
                            <a href="#" class="btn btn-grad btn-md btn-round">Back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="nk-ovm shape-u shape-contain shape-left-top z0"></div>
</section>
