<div class="header-banner bg-theme">
    <div class="nk-banner">
        <div class="banner banner-fs banner-single tc-light pb-0">
            <div class="banner-wrap">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 order-lg-last">
                            <div class="banner-gfx banner-gfx-re-s3">
                                <img src="assets/images/banner/gfx-d-dark.png" alt="header">
                                <img class="banner-gfx-icon banner-gfx-icon-1"
                                    src="assets/images/banner/Radix-Icon-Round.svg" alt="">
                                <img class="banner-gfx-icon banner-gfx-icon-2"
                                    src="assets/images/banner/radiator_logo.svg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-caption wide-auto text-center text-lg-start">
                                <div class="cpn-head">
                                    <h1 class="title title-xl-2 title-semibold">⚡️ RADIATOR ⚡️</h1>
                                </div>
                                <div class="cpn-text-center cpn-text-s1">
                                    <p class="lead">$RDT is the first cashback utility token<br>exclusively on Radix DLT
                                    </p>
                                </div>
                            </div>
                            <div class="cpn-social">
                                <ul class="social">
                                    <li><a target="_blank" href="https://twitter.com/radix_radiator"><em
                                                class="social-icon fab fa-twitter"></em></a></li>
                                    <li><a target="_blank" href="https://t.me/radix_radiator"><em
                                                class="social-icon fab fa-telegram"></em></a></li>
                                    <li><a href="mailto:info@radiator.run"><em
                                                class="social-icon fa fa-envelope"></em></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div>
        </div>
        <div class="nk-ovm shape-u shape-contain shape-left-top"></div>
    </div><!-- .nk-banner -->
</div>
<div class="nk-ovm mask-u mask-contain-bottom"></div>