<!-- Start Section -->
<section class="section bg-theme pb-0 ov-h" id="news">
  <div class="container">
    <div class="nk-block fade-in">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-mb-10">
          <div class="section-head text-center">
            <h2 class="title tc-secondary">News</h2>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-mb-12 feature card card-lg-y card-s4">
          <a href="https://www.vikingland.net/collection/Roidettes" target="_blank">
            <img src="assets/images/news-items/news_cashbackrelease_roidettes.jpg" />
          </a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-mb-12 feature card card-lg-y card-s4">
          <a href="https://www.vikingland.net/collection/RadFam" target="_blank">
            <img src="assets/images/news-items/news_chashback_radfam.jpg" />
          </a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-mb-12 feature card card-lg-y card-s4">
          <a href="https://www.vikingland.net/collection/Radix%20Panda" target="_blank">
            <img src="assets/images/news-items/news_cashback_panda.jpg" />
          </a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-mb-12 feature card card-lg-y card-s4">
          <a href="https://www.vikingland.net/collection/Mutant%20Cat%20Society" target="_blank">
            <img src="assets/images/news-items/news_cashback_mutantcats.jpg" />
          </a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-mb-12 feature card card-lg-y card-s4">
          <a href="https://www.vikingland.net/collection/Mystic%20Tigers%20Brotherhood" target="_blank">
            <img src="assets/images/news-items/news_cashback_mystictigers.jpg" />
          </a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-mb-12 feature card card-lg-y card-s4">
          <a href="https://www.vikingland.net/collection/Shardeez" target="_blank">
            <img src="assets/images/news-items/news_CashbackRelease_Shardeez.jpg" />
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="nk-ovm shape-u shape-contain shape-left-top z-0"></div>
</section>