<section class="section bg-theme pb-0 ov-h" id="news">
    <div class="container">
        <div class="nk-block fade-in">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-mb-10">
                    <div class="section-head text-center">
                        <h2 class="title tc-secondary">News</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col col-mb-12 feature card card-lg-y card-s4">
                    <a href="https://www.vikingland.io/collection/CerberRADS" target="_blank">
                        <img src="assets/images/news-items/news_cashback_cerberrads.jpg" />
                    </a>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col col-mb-12 feature card card-lg-y card-s4">
                    <a href="https://www.vikingland.io/collection/Radix%20Ratz" target="_blank">
                        <img src="assets/images/news-items/news_radix_ratz2.jpg" />
                    </a>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col col-mb-12 feature card card-lg-y card-s4">
                    <a href="https://www.vikingland.io/collection/Horrible%20Heads" target="_blank">
                        <img src="assets/images/news-items/news_cashback_horribleheads.jpg" />
                    </a>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col col-mb-12 feature card card-lg-y card-s4">
                    <a href="https://www.vikingland.net/collection/Roidettes" target="_blank">
                        <img src="assets/images/news-items/news_cashbackrelease_roidettes.jpg" />
                    </a>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col col-mb-12 feature card card-lg-y card-s4">
                    <a href="https://www.vikingland.net/collection/Roidettes" target="_blank">
                        <img src="assets/images/news-items/news_conditionChange.jpg" />
                    </a>
                </div>
            </div>

            <!--Spacer für den glow-->
            <div class="row pb-5">
            </div>

        </div>
    </div>
    <div class="nk-ovm shape-u shape-contain shape-left-top z-0"></div>
</section>