<!-- Start Section -->
<section class="section bg-theme pb-0 ov-h" id="stake">

  <main class="nk-pages fade-in">
    <div class="container">
      <div class="nk-block nk-block-text-wrap">
        <div class="row align-items-center gutter-vr-40px justify-content-lg-between justify-content-center">
          <div class="col-lg-8 col-mb-10">
            <div class="nk-block-text ">
              <div class="pb-5">
                <h2 class="title tc-secondary">Stake with us</h2>
                <p class="lead tc-light">Our Radiator ("RADix validATOR") node is run by german Radix community members.
                  The node runs on a 24/7 monitored ESXi Cluster with automatic backups. To optimize handling of
                  updates, one node is always up and running.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // -->
    <div class="container">
      <div class="nk-block nk-block-text-wrap">
        <div class="row align-items-center gutter-vr-30px justify-content-lg-between justify-content-center">
          <div class="col-lg-5 col-mb-10">
            <div class="nk-block-img gfx-re-mdl py-5 py-lg-0">
              <img src="assets/images/stake/stake1.png" alt="app">
            </div>
          </div>
          <div class="col-lg-6 col-mb-10">
            <div class="nk-block-text">
              <div class="pb-5">
                <h2 class="title title-regular tc-light">Rewards</h2>
                <p class="tc-light">Not only will you receive passive income by staking on the Radiator
                  node ($XRD token with ~9% APY), but also you will receive our $RDT cashback utility token via frequent
                  airdrops. The more $XRD you stake, the more $RDT you will receive. But everybody will receive a fair
                  share.
                </p>
              </div>

            </div>
          </div>
        </div><!-- .row -->
      </div><!-- .block @e -->
    </div>
    <!-- // -->
    <div class="container">
      <div class="nk-block nk-block-text-wrap">
        <div class="row align-items-center gutter-vr-30px justify-content-lg-between justify-content-center">
          <div class="col-lg-5 col-mb-10 order-lg-last">
            <div class="nk-block-img gfx-re-lg">
              <img src="assets/images/stake/stake2.png" alt="app">
            </div>
          </div>
          <div class="col-lg-6 col-mb-10">
            <div class="nk-block-text">
              <div class="pb-5">
                <h2 class="title title-regular tc-light">Conditions</h2>
                <p class="tc-light">To ensure everybody receives a fair share at some point, the airdrop parameters
                  will change
                  frequently and without prior notice between:
                </p>
                <ul class="list list-dot">
                  <li><span class="tc-light">staking duration</span></li>
                  <li><span class="tc-light">min. stake</span></li>
                  <li><span class="tc-light">max. stake</span></li>
                  <li><span class="tc-light">min. airdrop amount per wallet</span></li>
                  <li><span class="tc-light">max. airdrop amount per wallet</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- .row -->
      </div><!-- .block @e -->
    </div>
    <!-- // -->
    <div class="nk-block">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-mb-10">
          <div class="nk-block-text text-center tc-light ">
            <h2 class="title title-regular tc-light">Validator Node Address</h2>
            <div class="field-inline field-inline-s4">
              <div class="field-wrap">
                <input id="validatorNode" class="input-solid round bg-theme-alt" type="text" disabled
                       value="rv1qtm3z8ryf9czeal3unuknedurpxd2lxvz48umryrrznw5queawet28atjna">
                <input type="text" class="d-none" name="form-anti-honeypot" value="">
              </div>
              <div class="submit-wrap">
                <button class="btn btn-round btn-md btn-auto btn-primary" onclick="copyContent()">Copy</button>
              </div>
            </div>
            <div class="form-results"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- // -->
    <div class="nk-block">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-mb-10">
          <div class="section-head nk-block-text text-center tc-light">
            <h2 class="title tc-secondary">How to stake:</h2>
            <div class="nk-block-img ">
              <img src="assets/images/stake/staking.gif" alt="app">
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <div class="nk-ovm shape-u shape-contain shape-left-top z0"></div>
</section>


