<section class="section bg-theme pb-0 ov-h" id="tokenomics">
    <div class="container">
        <div class="nk-block fade-in">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-mb-10">
                    <div class="section-head text-center">
                        <h2 class="title tc-secondary">Tokenomics</h2>
                        <h4 class="tc-light">100.000.000 $RDT</h4>
                        <div class="tokenomics">
                            <canvas id="tokenomicsChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-ovm shape-u shape-contain shape-left-top z-0"></div>
</section>