<section class="section bg-theme pb-0 ov-h" id="tokenomics">
  <div class="container">
    <div class="nk-block fade-in">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-mb-10">
          <div class="section-head text-center">
            <h2 class="title tc-secondary">Tokenomics</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-10 feature card card-lg-y card-s4">
        <div class="token-alocate-item">
          <div class="token-alocate-graph">
            <span>100 Mio.<br>$RDT</span>
            <canvas class="chart-canvas" id="token-alocate"></canvas>
          </div>
          <ul class="chart-data" data-canvas="token-alocate" data-canvas-type="doughnut">
            <li data-color="#223fa8" data-title="Incentives & Rewards" data-amount="40"></li>
            <li data-color="#8fa0df" data-title="Airdrops & Presale" data-amount="26"></li>
            <li data-color="#4aa0f6" data-title="Team & Development" data-amount="18"></li>
            <li data-color="#6ad9ac" data-title="Consulting & Advisors" data-amount="8"></li>
            <li data-color="#4d6fe9" data-title="Marketing & Promotion" data-amount="8"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-2">
        <div class="feature feature-center card card-lg-y card-s4">
          <div class="feature-icon feature-icon-sm pb-4 mt-0 mx-auto">
            <a href="#cashback"><img class="project-img" src="assets/images/tokenomics/people-group-solid.svg"
                alt="Cashback"></a>
          </div>
          <div class="feature-text">
            <h5 class="title title-sm">Team & Development</h5>
            <p>Our team has many years experience in software development, marketing and sales. We aim to
              combine our abilities and the unique features on the radix network for the success of the Radiator
              project.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="feature feature-center card card-lg-y card-s4">
          <div class="feature-icon feature-icon-sm pb-4 mt-0 mx-auto">
            <a href="#cashback"><img class="project-img" src="assets/images/tokenomics/hand-holding-rdt.svg"
                alt="Cashback"></a>
          </div>
          <div class="feature-text">
            <h5 class="title title-sm">Airdrops & Presale</h5>
            <p>Participation in our community and staking on our node will be rewarded with native $RDT
              Airdrops. A limited presale is considered.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="feature feature-center card card-lg-y card-s4">
          <div class="feature-icon feature-icon-sm pb-4 mt-0 mx-auto">
            <a href="#cashback"><img class="project-img" width="70%" src="assets/images/tokenomics/lightbulb-solid.svg"
                alt="Cashback"></a>
          </div>
          <div class="feature-text">
            <h5 class="title title-sm">Consulting & Advisors
            </h5>
            <p>To fulfil our goals we rely on various external support and expertise in matters of research,
              technical issues and so on.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="feature feature-center card card-lg-y card-s4">
          <div class="feature-icon feature-icon-sm pb-4 mt-0 mx-auto">
            <a href="#cashback"><img class="project-img" src="assets/images/tokenomics/comments-solid.svg"
                alt="Cashback"></a>
          </div>
          <div class="feature-text">
            <h5 class="title title-sm">Marketing & Promotion</h5>
            <p>As we want to spead the word and make our project as successful as possible, we need
              reserved funds ready for exchange listings, marketing events and so on.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="feature feature-center card card-lg-y card-s4">
          <div class="feature-icon feature-icon-sm pb-4 mx-auto">
            <a href="#cashback"><img class="project-img" alt="Cashback"
                src="assets/images/project/arrows-rotate-solid.svg">
            </a>
          </div>
          <div class="feature-text">
            <h5 class="title title-sm">Incentives & Rewards</h5>
            <p>Radiator rewards your participation in our planned ecosystem of partnerships.
            </p>
          </div>
        </div>
      </div>

    </div>

    <!--Spacer für den glow-->
    <div class="row pb-5">
    </div>
  </div>
  <div class="nk-ovm shape-u shape-contain shape-left-top z-0"></div>

</section>